.fondo{
    background-color: #E9EAED;
    margin: 0;
    padding: 0;
    height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto; 
}
body,html{
    height: 100vh;
}
#mostrarTodo{
    display: inline-block;
    vertical-align: top;
}
#crearUsuario{
    display: inline-block;
    vertical-align: top;
}
#eliminarUsuario{
    display: inline-block;
    vertical-align: top;
}
.cabecera{
    background-color: #111D35;
}
i{
    margin-right: 15px;
}
li:hover{
    background-color: #FFC107;
    color: black;
}
.offcanvas{
    background-color: #111D35;
}
canvas{
    margin: 0 auto;
}
.fondo2{
    background-color: #111D35;
    margin: 0;
    padding: 0;
    height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto; 
}